/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #10a6fa;
  --ifm-color-primary-dark: #0598ea;
  --ifm-color-primary-darker: #0590dd;
  --ifm-color-primary-darkest: #0476b6;
  --ifm-color-primary-light: #2ab0fb;
  --ifm-color-primary-lighter: #37b5fb;
  --ifm-color-primary-lightest: #5ec3fc;
  --ifm-code-font-size: 95%;

  --hero-border-color: rgba(0, 0, 0, 0.1);
}

:root[data-theme='dark'] {
  --hero-border-color: rgba(255, 255, 255, 0.1);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

#banner {
  position: relative;
  min-height: 56px;
  padding: 1rem;
  background: var(--ifm-color-primary-lighter);
  font-size: 1.125rem;
  text-align: center;
}

#banner a {
  color: var(--ifm-background-surface-color);
  text-decoration: underline;
}

#banner .close {
  position: absolute;
  right: 0;
  margin: 0 1rem;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #banner .close {
    display: none;
  }
}

:root[data-theme='dark'] #banner {
  background: var(--ifm-color-primary-darker);
}

.cncf-logo {
  background: center no-repeat url('/img/logos/cncf-color.svg');
}

html[data-theme='dark'] .cncf-logo {
  background: center no-repeat url('/img/logos/cncf-white.svg');
}

.youtube-video-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.youtube-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
