name: Check Markdown links

on:
  push:
    branches:
      - master
    paths:
      - '**.md'
      - 'mlc_config.json'
  pull_request:
    branches:
      - master
    paths:
      - '**.md'
      - 'mlc_config.json'

permissions: read-all

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'
          check-modified-files-only: 'yes'
